.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-item {
  margin-bottom: 20px;
  width: 50%;
}

@media (orientation: portrait), (orientation: landscape) and (max-width: 960px) {
  .list-item {
    width: 100%;
    margin-bottom: 8px;
  }

  .list-item:last-child {
    margin-bottom: 24px;
  }
}
