.question-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--main-background);
  padding: 14.77vh 0 11.33vh 80px;
}

.question-title-wrapper {
  width: 58.64%;
}

.question-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: var(--black100);
  margin: 0;
}

.items-wrapper {
  width: 79.32%;
}

@media (min-width: 1200px) {
  .question-title {
    font-size: 2.22vw;
    line-height: 2.57vw;
  }
}

@media (orientation: landscape) and (max-width: 960px) {
  .question-wrapper {
    padding: 0;
  }

  .question-title-wrapper {
    margin: 50px 0;
    width: calc(100% - 32px);
    padding: 0 16px;
  }

  .items-wrapper {
    width: 100%;
  }

  .question-title {
    font-size: 18px;
    line-height: 20.88px;
    text-align: center;
  }
}

@media (orientation: portrait) {
  .question-wrapper {
    padding: 0;
  }

  .question-title-wrapper {
    padding: 136px 16px 0;
    width: calc(100% - 32px);
    display: flex;
    /* padding-top: 136px; */
  }

  .items-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .question-title {
    font-size: 18px;
    line-height: 20.88px;
    text-align: center;
  }
}
