.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom right, transparent 50%, var(--orange5) 50%);
  padding: 0 80px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 8.26%;
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 64.96px;
  color: var(--black100);
  margin: 0 0 64px;
}

@media (min-width: 1200px) {
  .card {
    height: 40.77%;
    flex-wrap: nowrap;
    gap: 119px;
  }

  .card-title {
    font-size: 3.89vw;
    line-height: 4.51vw;
  }
}

/* styles for landscape orientation of phones */

@media (orientation: landscape) and (max-width: 960px) {
  .wrapper {
    padding: 0 16px;
  }

  .card {
    flex-wrap: nowrap;
    gap: 50px;
  }

  .card-image-wrapper {
    padding: 0;
  }

  .card-title {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 32px;
  }
}

/* end of styles for landscape orientation of phones */

@media (orientation: portrait) {
  .wrapper {
    padding: 0 16px;
  }

  .card {
    height: 100%;
    gap: initial;
  }

  .card-image-wrapper,
  .card-content-wrapper {
    height: 50%;
    width: 100%;
    display: flex;
  }

  .card-image-wrapper {
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 42.5px;
  }
  
  .card-content-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  .card-button {
    margin-bottom: 48px;
  }
}

@media (max-width: 480px) {
  .card-title {
    font-size: 32px;
    line-height: 37.12px;
    margin-top: 0;
  }

  .card-image {
    max-width: 196px;
  }
}
